/**
 * general
 */

/* unvisited link */
a:link {
  color: $brand-color;
  text-decoration: underline;
}

/* visited link */
a:visited {
  color: $brand-color;
  text-decoration: underline;
}

/* mouse over link */
a:hover {
  color: $text-color;
  text-decoration: none;
}

/* selected link */
a:active {
  color: $brand-color;
  text-decoration: none;
}

h1, h2, h3, h4 {
  @include relative-font-size(1);
  line-height: 1;
  letter-spacing: -1px;

  @include media-query($on-laptop) {
    @include relative-font-size(1);
  }
  font-weight: 700;
}

h1, h2 {
  font-weight: 700;
//   text-transform: uppercase;
//   font-size: $base-font-size * 1.5;
}

strong {
  letter-spacing: -1px;
}

hr {
    margin-bottom: 1em;
    height: 0;
    color: #FFF;
    background-color: #FFF;
    border-style: inset;
    border-top: 1px dashed #000;
    border-width: 1px;
    display: block;
}

/**
 * Site header
 */
.site-header {
  border-top: 5px solid $background-color;
  border-bottom: 1px solid $grey-color-light;
  min-height: $spacing-unit * 1.865;

  // Positioning context for the mobile navigation icon
  position: relative;

  a:link {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

.site-title {
  @include relative-font-size(1);
  font-weight: 700;
  font-size: $base-font-size * 1.5;
  line-height: $base-line-height * $base-font-size * 2.25;
  margin-bottom: 0;
  float: left;
  text-transform: uppercase;
  
  &,
  &:visited {
//     color: $grey-color-dark;
  }
}

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
  
  a:link {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(1);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {
//   padding: $spacing-unit 0;
  padding: $spacing-unit 0;
  flex: 1;
}

.page-heading {
  @include relative-font-size(1);
}

.post-list-heading {
  @include relative-font-size(1);
}

.post-list {
  margin-left: 0;
  list-style: none;

//   > li {
//     margin-bottom: $spacing-unit;
//   }
}

.post-meta {
  @include relative-font-size(1);
  color: $grey-color;
}

.post-link {
//   display: block;
  @include relative-font-size(1);
}



/**
 * Posts
 */
.post-header {
//   margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(1);
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(1);
  }
  font-weight: 700;
}

.post-content {
  margin-bottom: $spacing-unit;
}

a:link.post-excerpt {
  text-decoration: none;
}

a:hover.post-excerpt {
  text-decoration: none;
}

